.home {
    background-color: black;
    width: 100vw;
    margin-top: 60px;
    display: grid;
    align-items: center;
    place-items: center;
    justify-content: center;
}
.home h1 {
    font-size: 36px;
    font-weight: bold;
}
.home h2 {
    font-size: 24px;
}
.profile {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
}
.profile img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 50%;
    object-fit: cover
}
.description {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}
.title {
    text-align: center;
    margin-top: 10px;
    font-size: 36px;
    font-weight: bold;
}

.iconContainer{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}
.icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border-radius: 25%;
    transition: transform 0.3s ease-in-out;
}
.icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}
.icon:hover{
    transform: scale(1.2);
}

.education{
    text-align: center;
    width: calc(90vw - 50px);
}
.educationContainer{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.educationItem {
    border-radius: 10px;
    border-width: 4px;
    min-height: 400px;
    max-width: 450px;
    width: 80vw;
    gap: 25px;
    justify-content: center;
    align-items: top;
    transition: transform 0.3s ease-in-out;
}
.educationItem:hover {
    transform: scale(1.02);
}
.educationItemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    margin-left: 10px;
    margin-right: 10px;
}
.educationItem img {
    width: 80%;
    max-width: 200px;
    height: 200px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.educationItem img:hover{
    transform: scale(1.1);
}
