.projectsContainer {
    min-height: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    place-items: center;
    gap: 30px;
}
.projectBubble {
    display: grid;
    width: 100%;
    max-width: 500px;
    justify-content: center;
    place-items: center;
    align-items: top;
    box-shadow: 0 0 2px white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 400px;
}

.projectBubble p{
    font-size: 14px;
}
.projectBubble h2 {
    text-align: center;
}
.project{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: black;
    opacity: 1;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out
}
.project:hover{
    transform: scale(1.05);
}
.project img {
    height: 100%;
    width: 100%;
    opacity: 1;
    object-fit: cover;
    border-radius: 50%;
}
.projectLearnMore {
    width: 180px;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    box-shadow: 0 0 2px white;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color;
}
.projectLearnMore:hover{
    transform: scale(1.05);
     background-color: rgba(58, 98, 255, 0.7);
    box-shadow: 0 0 7px white;
}
.projectButtonContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.projectButton {
    width: 80px;
    background: none;
    border: none;
}
