.skillBox {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.skillIcon {
    min-width: 100px;
    height: 50px;
    padding-right: 10px;
    padding-left: 5px;
    box-shadow: 0 0 2px white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.skillIcon img {
    margin-right: 5px;
    width: 40px;
    height: 40px;
}
.skillIcon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px white;
}
.projectSkills{
    margin-bottom: 10px;
}
.projectSkillTitle{
    margin-bottom: 15px;
    margin-top: 5px;
    border-bottom: 1px solid white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.projectSkillTitle h2{
    font-size: 16px;
}
