.credits{
    width: 80vw;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    place-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.miniBubble{
    height: 100%;
    width: 100%;
    box-shadow: 0 0 3px white;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
}
